*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
}

.header{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(106, 34, 199);

}

.header img{
    width: 60px;
    height: 60px;
    margin: 10px;
}