*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display:flex;
    flex-direction: row;
    background-color: rgb(184, 104, 104);
}

.header img {
    min-width: 20%;
    max-width: 50%;
}

.header h1{
    margin:20px 2px 5px;
    width: 20vw;
    text-align: flex;
    margin-right: 600px;
    
}

.header h2{
    width: 16vw;
    text-align: right;
}

.container {
    display: flex;
    direction: row;
}

.container .mensagens{
    width: 30vw;
    padding:20px;
    margin:5px;
    height: 70vh;
    background-color: #ff33;
}

.container .conteudo{
    width: 70vw;
    padding:20px;
    margin:5px;  
}

.container .conteudo h2{
    font-size:20pt;
    font-weight:lighter;
    font-family:"Lucida Sans";
    text-align:center;
    margin-bottom:40px;
}

.itens div{
    width: 30%;
    height: 200px;
    padding: 30px;
    background-color: #ffff;
    box-shadow: 0px 0px 5px silver;
    margin: 10px;
    cursor: pointer;
    transition: ease 0.5s;
}
.itens div:hover{
    transform: scale(1.1);
    background-color: #000000;
    color: #ffffff;
}

.itens{
    display:flex;
    flex-direction: row;
}

.itens h3{
    font-family: "Lucida San";
    font-size: 15pt; 
}

.itens p{
    font-family: "Lucida San";
    font-size: 12pt; 
}

.itens .preco{
    color:rgb(236, 49, 49)
}
